* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "zenless";
    src: url("../../font/ko-kr.ttf");
}

@keyframes bgAnimation1{ 
    0% {
        transform: translate(25%);
    }

    100% {
        transform: translate(-25%);
    }
}

@keyframes bgAnimation2{ 
    0% {
        transform: translate(-25%);
    }

    100% {
        transform: translate(25%);
    }
}

@keyframes moveStripes {
  from { background-position: 0 0; }
  to   { background-position: 60px 0; }
}

body {
    font-family: "zenless";
    overflow: hidden;
}